@import "tailwindcss";
@theme{
    --font-sans: Figtree, sans-serif;

    /* Breakpoints */
    --breakpoint-sm: 320px;
    --breakpoint-sm-m: 375px;
    --breakpoint-sm-l: 425px;
    --breakpoint-sm-xl: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1024px;
    --breakpoint-2xl: 1200px;
    --breakpoint-3xl: 1440px;

    /* Animations */
    --animate-slide: slide 30s linear infinite;
    @keyframes slide{
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-50%);
        }
    }
}

/* Defailt styles */
header, main, section, footer{
    @apply w-full;
}

main, section{
    @apply flex flex-col items-center;
}

section{
    @apply my-12;
}

.section-heading{
    @apply text-center text-[4rem] font-medium leading-[1.15];
}

/* Custom classes */
/* ---------------------- */

/* Hero section background */
.hero-pattern{
    @apply bg-white;

    background-image: radial-gradient(#d2dbe2 1.5px, transparent 1.5px), 
        radial-gradient(#d2dbe2 1.5px, transparent 1.5px);
    background-size: 10px 10px;
    background-position: 0 0, 5px 5px;
}

/* Section labels */
.label{
    @apply text-gray-700 text-[0.9rem] border-2 border-gray-300 rounded-full shadow-2xl px-5 py-2.5;
}


/* Benefits */
.benefit{
    @apply w-full space-y-3.5 pt-7 pb-14 pl-10 pr-14 md:pr-20 lg:pr-28 relative;
}    

.benefit i{
    @apply w-fit text-yellow-500 text-4xl;
}

.benefit p{
    @apply w-fit;
}


/* Feautres */
.feature{
    @apply flex flex-col items-center justify-between space-y-7 overflow-clip z-20 text-center bg-white rounded-2xl shadow-sm px-16 py-18;
}

.desc{
    @apply space-y-3.5;
}

.desc h3{
    @apply text-2xl font-medium;
}

.desc p{
    @apply text-gray-400;
}


/* Integrations slider */
#integrations-wrapper{
    @apply w-full space-y-12 overflow-hidden;
}

.slider{
    @apply w-max flex flex-nowrap overflow-hidden animate-slide md:hover:*:grayscale py-5;
}

.slider:hover{
    @media (width >= 768px) {
        animation-play-state: paused;
    }
}

.animate-reverse{
    animation-direction: reverse;
}

.integration{
    @apply size-48 content-center justify-items-center bg-white rounded-3xl shadow-[0_3px_10px_rgb(0,0,0,0.2)] md:transition md:duration-375 md:hover:grayscale-0 p-12 mr-14;
}

/* Testimonials */
.testimonial{
    @apply w-full flex flex-col justify-between bg-gray-100 border-2 border-gray-300 rounded-2xl px-10 py-12;
}

.testimonial p{
    @apply text-lg font-light;
}

.person{
    @apply w-full flex space-x-5 items-center;
}

.person img{
    @apply size-16 rounded-lg;
}

.name h6{
    @apply text-lg text-gray-500 font-light;
}

.name p{
    @apply text-xl font-medium; 
}